<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FunnyVideos - the best videos on the web</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>
<body>

    <div th:include="fragments :: navbar"></div>

    <div class="container">
        <th:block th:each="video : ${videos}">
            <div class="row top-buffer video-background">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center"><span th:text="${video.title}"></span></div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" th:src="${video.video_src}" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
                            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> <span th:text="${video.thumbs_down}"></span>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
                            <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> Do ulubionych!
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <span th:text="${video.thumbs_up}"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
                </div>
            </div>
        </th:block>
    </div>

    <div th:include="fragments :: footer"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>