<!DOCTYPE html>
        <html lang="pl" xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>FunnyVideos - Zaloguj się</title>
            <link href="css/bootstrap.min.css" rel="stylesheet">
            <link href="css/main.css" rel="stylesheet">
        </head>
<body>

    <div th:include="fragments :: navbar"></div>

    <div class="container">
        <div class="row top-buffer video-background">
            <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <h4>Panel użytkownika: <span th:text="${username}" class="username"></span></h4>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Twoje filmy</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Ulubione</a></li>
                        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Ustawienia</a></li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="home">TU BĘDZIE LISTA FILMÓW WRZUCONYCH PRZEZ UŻYTKOWNIKA</div>
                        <div role="tabpanel" class="tab-pane fade" id="profile">TU BĘDIZE LISTA FILMÓW DODANYCH DO ULUBIONYCH</div>
                        <div role="tabpanel" class="tab-pane fade" id="messages">USTWIENIA - MOŻLIWOŚĆ ZMIANY HASŁA, ITP</div>
                    </div>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
            </div>
        </div>
    </div>

    <div th:include="fragments :: footer"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html></title>
</head>
<body>

</body>
</html>