<!DOCTYPE html>
        <html lang="pl" xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>FunnyVideos - Zaloguj się</title>
            <link href="css/bootstrap.min.css" rel="stylesheet">
            <link href="css/main.css" rel="stylesheet">
        </head>
<body>

    <div th:include="fragments :: navbar"></div>

    <div class="container">
        <div class="row top-buffer video-background">
            <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <h4>Panel użytkownika: <span th:text="${username}" class="username"></span></h4>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Twoje filmy</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Ulubione</a></li>
                        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Ustawienia</a></li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="home">TU BĘDZIE LISTA FILMÓW WRZUCONYCH PRZEZ UŻYTKOWNIKA</div>
                        <div role="tabpanel" class="tab-pane fade" id="profile">TU BĘDIZE LISTA FILMÓW DODANYCH DO ULUBIONYCH</div>
                        <div role="tabpanel" class="tab-pane fade" id="messages">USTWIENIA - MOŻLIWOŚĆ ZMIANY HASŁA, ITP
                            <form th:action="@{/userpanel}" th:object="${userSettings}" method="post" class="form-horizontal form">
                                <div class="form-group">
                                    <label for="password" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 control-label">Aktualne hasło:</label>
                                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                        <input type="password" class="form-control" id="password" th:field="*{password}" name="password" placeholder="Aktualne hasło">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="newpassword" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 control-label">Nowe hasło:</label>
                                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                        <input type="password" class="form-control" id="newpassword" th:field="*{newpassword}" name="newpassword" placeholder="Nowe hasło">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="renewpassword" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 control-label">Powtórz nowe hasło:</label>
                                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                        <input type="password" class="form-control" id="renewpassword" th:field="*{renewpassword}" name="renewpassword" placeholder="Powtórz nowe hasło">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-offset-8 col-xs-4 col-sm-offset-9 col-sm-3 col-md-offset-9 col-md-3 col-lg-offset-9 col-lg-3">
                                        <button type="submit" class="btn btn-default">Zmień hasło</button>
                                    </div>
                                </div>
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
            </div>
        </div>
    </div>

    <div th:include="fragments :: footer"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html></title>
</head>
<body>

</body>
</html>