<!DOCTYPE html>
        <html lang="pl" xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>FunnyVideos - Zaloguj się</title>
            <link href="css/bootstrap.min.css" rel="stylesheet">
            <link href="css/main.css" rel="stylesheet">
        </head>
<body>

    <div th:include="fragments :: navbar"></div>

    <div class="container">
        <div class="row top-buffer video-background">
            <div class="row">
                <div class="col-xs-1 col-sm-2 col-md-2 col-lg-3"></div>
                <div class="col-xs-10 col-sm-8 col-md-8 col-lg-6">
                    <h1>Witaj <span th:text="${username}" class="username"></span></h1>
                </div>
                <div class="col-xs-1 col-sm-2 col-md-2 col-lg-3"></div>
            </div>
        </div>
    </div>

    <div th:include="fragments :: footer"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html></title>
</head>
<body>

</body>
</html>